<header
  class="z-50 border-gray-600/35 sticky top-0 left-0 right-0 backdrop-blur-md p-4 px-12 font-titles font-bold flex flex-wrap gap-5 items-center justify-center md:justify-between animate__animated animate__slideInDown"
>
  <a
    class="header-author flex flex-wrap gap-5 justify-center items-center [&>img]:-rotate-12 hover:[&>img]:-rotate-0 hover:[&>h1]:text-blue-200 transition"
    href="http://github.com/nbglroot/"
    target="_blank"
  >
    <img
      src="./favicon.png"
      alt="Logotipo del creador de la aplicación"
      class="w-14 rounded-md transition duration-400"
    />
    <h1 class="text-2xl text-center">NimbusRoot</h1>
  </a>
  <nav
    class="flex flex-wrap gap-5 justify-center items-center *:text-md *:tracking-wider *:hover:underline *:hover:text-blue-300 *:hover:transition *:hover:duration-75"
  >
    <a routerLink="/">Inicio</a>
    <a routerLink="/sobre_nosotros">Sobre NimbusRoot</a>
  </nav>
</header>
