<main
  class="max-w-[1200px] mx-auto p-2 *:my-10 animate__animated animate__fadeIn"
>
  <h2 class="text-3xl text-center">NimbusRoot</h2>
  <p
    class="p-2 max-w-[600px] mx-auto text-left leading-relaxed mt-4 text-gray-300"
  >
    <b>NimbusRoot</b> es una aplicación de clima desarrollada por un solo
    desarrollador, apasionado de la programación y el desarrollo web. Construida
    con las tecnologías más modernas como Angular 19 y Tailwind 4.
  </p>
  <p
    class="p-2 max-w-[600px] mx-auto text-left leading-relaxed mt-4 text-gray-300"
  >
    NimbusRoot se adhiere a las mejores prácticas, incluyendo la optimización
    para motores de búsqueda y estándares de ECMAScript, lo que garantiza una
    experiencia del usuario fluida y eficiente.
  </p>
  <p
    class="p-2 max-w-[600px] mx-auto text-left leading-relaxed mt-4 text-gray-300"
  >
    Aunque es una aplicación de clima, <b>NimbusRoot</b> pretende ser una
    herramienta de apoyo para que puedas planificar tus actividades diarias de
    manera efectiva, sin importar el clima. Por lo tanto, he intentado hacer que
    sea lo más fácil de usar posible, con una interfaz minimalista y accesible,
    que se puede usar en cualquier dispositivo.
  </p>
</main>
